.content {
    background-color: lightgray;
    border-radius: 25px;
    margin: 1%;
    scale: 100%;  
}

.header {
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #153442;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 24px;
    margin-left: 12px;
}

.header nav {
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 6px;
    margin-right: 12px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 25px;

}

.island-pg {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;

}

.images {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 70%;
}

.island-name h1 {
    display: flex;
    position: absolute;
    padding-top: 2%;
    padding-left: 2%;
    color: white;
    font-size: xxx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.island-name h2 {
    display: flex;
    position: absolute;
    padding-top: 5%;
    color: white;
    padding-left: 15%;
    font-size: medium;
}

.island-pg aside {
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: lightskyblue;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 10px solid lightgray;
    padding: 1%;
    justify-content: flex-start;
}

.islandText {
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.welcomeText {
    text-align: center;
    font-size:x-large;
    font-weight: bolder;
    
}

.slideshow {
    display: flex;
    border-radius: 25px;
    padding-bottom: 0%;
}

.hide {
    display: none;
}
